<h1>Global Trends: Reader's Favorite/ Favored Genre Popularity</h1>

Introduction

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

trends_one= pd.read_csv('Books_Data_Clean.csv')
trends_two= pd.read_csv('data.csv') # w/ book descriptions and genre
genre_trend= pd.read_excel('Amazon_genres.xlsx')

# General Information Function
def EDA(df):
    print(df.info())
    print(df.columns)
    
    # Count/Percentage of Count for each column of selected dataset
    #print(df.count())
    maxRows = df[df.columns[0]].count()
    print('% of Missing Data:')
    print((1 - df.count() / maxRows) * 100)
    
    # Summary Statistics
    print(df.describe())
        
EDA(trends_one)
EDA(trends_two)
EDA(genre_trend)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1070 entries, 0 to 1069
Data columns (total 15 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                1070 non-null   int64
 1   Publishing Year      1069 non-null   float64
 2   Book Name            1047 non-null   object
 3   Author               1070 non-null   object
 4   language_code        1017 non-null   object
 5   Author_Rating        1070 non-null   object
 6   Book_average_rating  1070 non-null   float64
 7   Book_ratings_count   1070 non-null   int64
 8   genre                1070 non-null   object
 9   gross sales          1070 non-null   float64
 10  publisher revenue    1070 non-null   float64
 11  sale price           1070 non-null   float64
 12  sales rank           1070 non-null   int64
 13  Publisher            1070 non-null   object
 14  units sold           1070 non-null   int64
dtypes: float64(5), int64(4), object(6)
memory usage: 125.5+ KB
None
Index(['index', 'Publishing Year', 'Book Name', 'Author', 'language_code',
       'Author_Rating', 'Book_average_rating', 'Book_ratings_count', 'genre',
       'gross sales', 'publisher revenue', 'sale price', 'sales rank',
       'Publisher ', 'units sold'],
      dtype='object')
% of Missing Data:
index                  0.000000
Publishing Year        0.093458
Book Name              2.149533
Author                 0.000000
language_code          4.953271
Author_Rating          0.000000
Book_average_rating    0.000000
Book_ratings_count     0.000000
genre                  0.000000
gross sales            0.000000
publisher revenue      0.000000
sale price             0.000000
sales rank             0.000000
Publisher              0.000000
units sold             0.000000
dtype: float64
             index  Publishing Year  Book_average_rating  Book_ratings_count  \
count  1070.000000      1069.000000          1070.000000         1070.000000
mean    534.500000      1971.377923             4.007000        94909.913084
std     309.026698       185.080257             0.247244        31513.242518
min       0.000000      -560.000000             2.970000        27308.000000
25%     267.250000      1985.000000             3.850000        70398.000000
50%     534.500000      2003.000000             4.015000        89309.000000
75%     801.750000      2010.000000             4.170000       113906.500000
max    1069.000000      2016.000000             4.770000       206792.000000

        gross sales  publisher revenue   sale price   sales rank    units sold
count   1070.000000        1070.000000  1070.000000  1070.000000   1070.000000
mean    1856.622944         843.281030     4.869561   611.652336   9676.980374
std     3936.924240        2257.596743     3.559919   369.849830  15370.571306
min      104.940000           0.000000     0.990000     1.000000    106.000000
25%      372.465000           0.000000     1.990000   287.500000    551.250000
50%      809.745000         273.078000     3.990000   595.500000   3924.000000
75%     1487.957500         721.180500     6.990000   932.500000   5312.250000
max    47795.000000       28677.000000    33.860000  1273.000000  61560.000000
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6810 entries, 0 to 6809
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   isbn13          6810 non-null   int64
 1   isbn10          6810 non-null   object
 2   title           6810 non-null   object
 3   subtitle        2381 non-null   object
 4   authors         6738 non-null   object
 5   categories      6711 non-null   object
 6   thumbnail       6481 non-null   object
 7   description     6548 non-null   object
 8   published_year  6804 non-null   float64
 9   average_rating  6767 non-null   float64
 10  num_pages       6767 non-null   float64
 11  ratings_count   6767 non-null   float64
dtypes: float64(4), int64(1), object(7)
memory usage: 638.6+ KB
None
Index(['isbn13', 'isbn10', 'title', 'subtitle', 'authors', 'categories',
       'thumbnail', 'description', 'published_year', 'average_rating',
       'num_pages', 'ratings_count'],
      dtype='object')
% of Missing Data:
isbn13             0.000000
isbn10             0.000000
title              0.000000
subtitle          65.036711
authors            1.057269
categories         1.453744
thumbnail          4.831131
description        3.847283
published_year     0.088106
average_rating     0.631424
num_pages          0.631424
ratings_count      0.631424
dtype: float64
             isbn13  published_year  average_rating    num_pages  \
count  6.810000e+03     6804.000000     6767.000000  6767.000000
mean   9.780677e+12     1998.630364        3.933284   348.181026
std    6.068911e+08       10.484257        0.331352   242.376783
min    9.780002e+12     1853.000000        0.000000     0.000000
25%    9.780330e+12     1996.000000        3.770000   208.000000
50%    9.780553e+12     2002.000000        3.960000   304.000000
75%    9.780810e+12     2005.000000        4.130000   420.000000
max    9.789042e+12     2019.000000        5.000000  3342.000000

       ratings_count
count   6.767000e+03
mean    2.106910e+04
std     1.376207e+05
min     0.000000e+00
25%     1.590000e+02
50%     1.018000e+03
75%     5.992500e+03
max     5.629932e+06
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7928 entries, 0 to 7927
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           7928 non-null   int64
 1   Title                7928 non-null   object
 2   Author               7907 non-null   object
 3   Main_Genre           7928 non-null   object
 4   Sub_Genre            7928 non-null   object
 5   Type                 7928 non-null   object
 6   IDR_Price            7928 non-null   float64
 7   USD_Price            7928 non-null   float64
 8   Rating               7928 non-null   float64
 9   No. of People rated  7928 non-null   int64
 10  URLs                 7928 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 681.4+ KB
None
Index(['Unnamed: 0', 'Title', 'Author', 'Main_Genre', 'Sub_Genre', 'Type',
       'IDR_Price', 'USD_Price', 'Rating', 'No. of People rated', 'URLs'],
      dtype='object')
% of Missing Data:
Unnamed: 0             0.000000
Title                  0.000000
Author                 0.264884
Main_Genre             0.000000
Sub_Genre              0.000000
Type                   0.000000
IDR_Price              0.000000
USD_Price              0.000000
Rating                 0.000000
No. of People rated    0.000000
URLs                   0.000000
dtype: float64
       Unnamed: 0     IDR_Price    USD_Price       Rating  No. of People rated
count   7928.0000   7928.000000  7928.000000  7928.000000          7928.000000
mean    3963.5000    492.733737     5.936551     4.260797          6479.312941
std     2288.7608    945.900146    11.396387     0.910659         22082.884343
min        0.0000      0.010000     0.000120     0.000000             0.000000
25%     1981.7500    194.000000     2.337349     4.300000            63.000000
50%     3963.5000    317.650000     3.827108     4.500000           499.000000
75%     5945.2500    464.340000     5.594458     4.600000          2905.250000
max     7927.0000  35829.000000   431.674699     5.000000        500119.000000

Clean Up

In [10]:
#Trends 1
trends_one.drop(columns= 'index', inplace=True)
trends_one['Book Name'].fillna('Unknown', inplace=True)
trends_one['language_code'].fillna('eng', inplace=True)
trends_one.rename(columns={'language_code': 'language'}, inplace=True)
trends_one.dropna(subset=['Publishing Year'], inplace=True)
trends_one['Publishing Year'] = trends_one['Publishing Year'].astype(int)
trends_one.info()

#Trends 2
trends_two.drop(columns=['isbn13','isbn10','subtitle','thumbnail', 'description'], inplace=True)
trends_two.fillna({'categories': 'Unknown', 'authors': 'Unknown'}, inplace=True)
trends_two.fillna({'average_rating': 0, 'num_pages': 0, 'ratings_count':0}, inplace=True)
trends_two.dropna(subset=['published_year'], inplace=True)
#single impurtation or fillna?
trends_two.info()

#Genre 
genre_trend['Author'].fillna('Unknown', inplace=True)
genre_trend.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1069 entries, 0 to 1069
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Publishing Year      1069 non-null   int32
 1   Book Name            1069 non-null   object
 2   Author               1069 non-null   object
 3   language             1069 non-null   object
 4   Author_Rating        1069 non-null   object
 5   Book_average_rating  1069 non-null   float64
 6   Book_ratings_count   1069 non-null   int64
 7   genre                1069 non-null   object
 8   gross sales          1069 non-null   float64
 9   publisher revenue    1069 non-null   float64
 10  sale price           1069 non-null   float64
 11  sales rank           1069 non-null   int64
 12  Publisher            1069 non-null   object
 13  units sold           1069 non-null   int64
dtypes: float64(4), int32(1), int64(3), object(6)
memory usage: 121.1+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 6804 entries, 0 to 6809
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   title           6804 non-null   object
 1   authors         6804 non-null   object
 2   categories      6804 non-null   object
 3   published_year  6804 non-null   float64
 4   average_rating  6804 non-null   float64
 5   num_pages       6804 non-null   float64
 6   ratings_count   6804 non-null   float64
dtypes: float64(4), object(3)
memory usage: 425.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7928 entries, 0 to 7927
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Unnamed: 0           7928 non-null   int64
 1   Title                7928 non-null   object
 2   Author               7928 non-null   object
 3   Main_Genre           7928 non-null   object
 4   Sub_Genre            7928 non-null   object
 5   Type                 7928 non-null   object
 6   IDR_Price            7928 non-null   float64
 7   USD_Price            7928 non-null   float64
 8   Rating               7928 non-null   float64
 9   No. of People rated  7928 non-null   int64
 10  URLs                 7928 non-null   object
dtypes: float64(3), int64(2), object(6)
memory usage: 681.4+ KB

Top ranking books 1-50 by avergae rating
Top publishers, who's the best?

In [11]:
trends_one.info()
top_50 = trends_one.sort_values(by=['Book_average_rating'], ascending=False).reset_index(drop=True)
#print(top_50.head(50))

<class 'pandas.core.frame.DataFrame'>
Index: 1069 entries, 0 to 1069
Data columns (total 14 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Publishing Year      1069 non-null   int32
 1   Book Name            1069 non-null   object
 2   Author               1069 non-null   object
 3   language             1069 non-null   object
 4   Author_Rating        1069 non-null   object
 5   Book_average_rating  1069 non-null   float64
 6   Book_ratings_count   1069 non-null   int64
 7   genre                1069 non-null   object
 8   gross sales          1069 non-null   float64
 9   publisher revenue    1069 non-null   float64
 10  sale price           1069 non-null   float64
 11  sales rank           1069 non-null   int64
 12  Publisher            1069 non-null   object
 13  units sold           1069 non-null   int64
dtypes: float64(4), int32(1), int64(3), object(6)
memory usage: 121.1+ KB

Most trending genre

Trending Genre Globally 
sales in each genre

In [12]:
print(trends_one['genre'].value_counts())
print(trends_two['categories'].nunique())
#print(genre_trend['Genre'].value_counts())

genre
genre fiction    822
nonfiction       170
fiction           62
children          15
Name: count, dtype: int64
568

Top 50 Authors by Publisher Revenue

Trending genres in america 
sales within america, which genre sales more? what does this conclude

Conclusion